* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    background-color: #000;
    height: 100dvh;
    overflow: hidden;
    color: white;
    font-family: system-ui;
    text-align: center;
    cursor: url("images/xp_point.png"), auto;
}

#game {
    margin: 0 auto;
    max-width: 600px;
}

#table {
    position: relative;
    margin-block: 2rem;
    background-color: black;
}

.field {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-inline: 1rem;
    width: 100%;
}

.item-field-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-block: 1rem;
    border: 1px solid white;
    width: fit-content;
}

.item-field {
    border: 1px solid white;
    width: 60px;
    height: 90px;
}

.item-box {
    border: 2px solid white;
    width: 90px;
    height: 50px;
}

#middle-divider {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    background-color: #444;
    height: 2px;
}

#ammo-field-wrapper {
    display: flex;

    display: grid;
    position: absolute;
    top: 50%;
    right: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
    transform: translateY(-50%);
    border: 2px solid #444;
    background-color: black;
    padding: 2px;
    width: 122px;
    height: 30px;
}

#ammo-field {
    border: 2px solid #444;
    height: 1rem;
    height: 100%;

}

#shotgun-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: url("images/xp_hover.png"), auto;
    margin: -10rem 2rem;
    border: 2px solid #444;
    border-radius: 50%;
    aspect-ratio: 1;
}

#shotgun {
    rotate: -75deg;
    transition: scale .2s, rotate .4s;
    width: 256px;
}

#shotgun[data-aim="1"] {
    rotate: 90deg;
}

#shotgun[data-aim="2"] {
    rotate: -90deg;
}

#shotgun-wrapper:hover #shotgun {
    scale: 1.1;
}

.action-button {
    display: block;
    z-index: 99;
    transition: scale .2s;
    cursor: url("images/xp_hover.png"), auto;
    border: none;
    background-color: transparent;
    padding: 1rem;
    width: 100%;
    color: white;
    font-size: 1.5rem;
}

.action-button:hover {
    scale: 1.1;
}

.player {
    margin: 0 auto;
    border-radius: 6px;
    padding: .5rem 1rem;
    width: fit-content;
}

.player.active {
    background-color: rgba(255, 255, 255, 0.10);
}