* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    background-color: rgb(68, 5, 5);
    height: 100dvh;
    overflow: hidden;
    color: white;
    font-family: system-ui;
    text-align: center;
}

#game {
    margin: 0 auto;
    padding: 2rem;
    max-width: 600px;
}

#status {
    text-wrap: balance;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-block: 1rem;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.10);
    padding-inline: 2rem;
    width: fit-content;
    height: 4rem;
    font-weight: bold;
}

#shotgun-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    height: 20rem;

}

#shotgun {
    rotate: -15deg;
    transition: scale .2s, rotate .4s;
    width: 256px;
}

#shotgun[data-aim="1"] {
    rotate: 90deg;
}

#shotgun[data-aim="2"] {
    rotate: -90deg;
}

#shotgun-wrapper:hover #shotgun {
    scale: 1.1;
}

.action-button {
    display: block;
    transition: scale .2s;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 1rem;
    width: 100%;
    color: white;
    font-size: 1.5rem;
}

.action-button:hover {
    scale: 1.1;
}

.player {
    margin: 0 auto;
    border-radius: 6px;
    padding: .5rem 1rem;
    width: fit-content;
}

.player.active {
    background-color: rgba(255, 255, 255, 0.10);
}